@import url("https://fonts.googleapis.com/css?family=Nunito");

*{
    font-family: Nunito;
}

body{
    background-attachment: fixed;
    background-size: cover;
    background-image:radial-gradient(#5089d4, pink )
}

.quiz_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px #5c4d56;
    margin-right: 200px;
}

.quiz_box header{
    position: relative;
    z-index:99 ;
    height: 70px;
    padding: 0 25px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow:0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
    margin-left: -10px;
}

.quiz_box header #timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff ;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
    margin-right: -350px;
}

.quiz_box header #timer .time_text{
    font-weight: 400;
    font-size: 18px;
    user-select: none;
}

.quiz_box header #timer #countdown{
    font-size: 18px;
    font-weight: 500;
    background: #57708a;
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(38, 36, 36);
    user-select: none;
}

.quiz_box section{
    padding: 10px 10px 10px 10px;
    background: #fff;
}

#que_text{
    font-size: 30px;
    font-weight: 600;
    user-select: none;
    margin-left: 20px;
    margin-right: 30px;
}

.option_list {
    box-sizing: border-box;
    background-color: aliceblue;
    border: 1px solid rgb(142, 142, 240);
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: #57708a;
    margin-left: 20px;
    user-select: none;
    width: 530px;
}

.option_list:hover{
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;
    user-select: none;
}

footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#total_que{
    font-weight: 300;
    font-size: 15px;
    padding: 0px 0px;
    margin-top: -10px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: -30px;
    margin-left: -15px;

}

#next_btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    color: #fff;
    background: #418836;
    cursor: pointer;
    margin: 60px;
    border-radius: 20px;
}

#next_btn:hover{
    background-color: #26501f;
    transition: all 0.3s ease;
    transform: scale(1.13);
    
}

.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    background: white;
    border-radius: 10px;
}

#crown_icon{
    height: 250px;
    margin-left: 218px;

}

#complete_text{
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;

}

#score_text{
    text-align: center;

}

#end_gif{
    position: absolute;
    top: 10px;
    right: -25%;
    z-index: 1;
}

#celeb{
    height: 600px;
    width: 600px;
    position: absolute;
    text-align: center;
    margin-left: 25%;
}

#congrats{
    text-align: center;
}

.div_counter{
    display: inline-block;
    width: 60px;
    height: 5px;
    background-color: #4efb82;
    text-align: center;
    margin-right: 1.06px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* #418836 */
}